<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="MyFile" fileName="logs/yahooFinance.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="MyFile"/>
    </Async>
</Appenders>
<Loggers>
    <Logger name="log4j.test.Log4jTest" level="trace">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.oak.external.finance.app.marketdata.api.impl.yahoo.YahooDataConnector" level="debug" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    
    <Root level="trace">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>